@use "./styles/button.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  background-color: #2a2727;
  color: #fff;
}


.highlight{
  color: rgb(147, 26, 80);
}